.card{
    width: 150px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
   
  }
  
  .card:hover{
    scale: 1.05;
    background-color: rgba(71, 133, 80, 0.5);
  }
  
  .card input{
    width: 30%;
  }
  
  .card img{
    width: 130px;
    height: 130px;
    border-radius: 5px;
    margin-top: 10px;
  }